body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.traffic-light {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.light {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  margin-bottom: 10px;
  opacity: 0.5;
}

.yellow {
  background-color: #ffff00;
}

.green {
  background-color: #4cbb17;
}

.red {
  background-color: #e60000;
}

input {
  appearance: none;
}

input:checked {
  opacity: 1;
}
